package com.spec2event.generated;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class MicroIntegrationApplication {

    public static void main(String[] args) {
        SpringApplication.run(MicroIntegrationApplication.class, args);
    }
}

